* {
    margin: 0;
    padding: 0;
}

#container {
    display : grid;
    height: 100vh;
    width: 100vW;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(14, 1fr);
    background-image: url(./images/background.jpg);
    background-size: cover;
}

#header {
    background-color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 15;
    font-size: 40px;
}
#title {
    color: rgb(48, 158, 48);

}

.link{
    color: black;
    font-size: 15px;
}

#text {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 15;
    color: white;
}

h3{
    font-size: 45px;
}

h6{
    font-size: 20px;
}

#search-container {
    background-color: white;
    grid-row-start: 5;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 7;
    border-radius: 20px;
}

#result {
    background-color: white;
    grid-row-start: 5;
    grid-row-end: 10;
    grid-column-start: 9;
    grid-column-end: 12;
    border-radius: 20px;
}

#container-booking, #container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}
